#projects{
    grid-template-columns: repeat(3, 33.333%);
    grid-template-rows: repeat(2, auto);
}

#introducingMyself_info_socialMediaIcons img:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}



.project:hover{
    transform: scale(1.02);
    transition: all 0.3s;
}

#contact_form form{
    width: 45%;
} 

#contact_data{
     width: 60%;
     margin: 0 auto;
     margin-bottom: 8rem;
 }

#services_image{
     width: 35%;
     margin-bottom: 0;
}

/* #services_image img{
    width: 100%;
} */

#services_container{
    flex-direction: row;
    padding: 6rem 2rem;
    align-items: center;
}

#services_content{
    justify-content: space-around;
    width: auto;
    padding-bottom: 0;
    padding-left: 1rem;
}

#skills_container{
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: repeat(3, auto);
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: center;
}

#other_knowledges_items{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, auto);
}

#programming_languages_items{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
}

#briefcase_button, 
input[type="submit"]{
    cursor: pointer;
}

#briefcase_button:hover,
input[type="submit"]:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}

#grid_xamples{
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10rem;
}

#grid_xample_1, #grid_xample_2{
    width: 45%;
}

hr{
    display: none;
}

#grid_xamples p{
    height: 7.2rem;
}

.select_buttons div:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.select_buttons{
    font-size: 1.5rem;
}

.selection_columns{
    font-size: 1.5rem;
}

#dropDownMenu_xample_1 li{
    cursor: pointer;
}

#dropDownMenu_xample_1 li:hover{
    opacity: 0.8;
}

.dropDownMenu_xample_container{
    width: 45%;
}

#dropDownMenu_xamples{
    flex-direction: row;
    justify-content: space-around;
}

#dropDownMenu_xamples p{
    height: 5.4rem;
}

#dropDownMenu_xamples{
    display: flex;
    align-items: flex-start;
}

#blog_container, #blogPost_container{
    flex-direction: row;
    padding: 0 5rem;
}

#blog_container section, #blogPost_container section{
    width: 80%;
}  

#blog_container aside, #blogPost_container aside{
    width: 20%;
    height: 35rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 80px;
}  

.briefcase_image_medium{
    display: block;
}

.briefcase_image_small{
    display: none;
}
