#introducingMyself{
    flex-direction: row;
    justify-content: center;
}

#introducingMyself_info{
    width: auto;
    margin-right: 4rem;
}

#introducingMyself_photo{
    width: auto;
   
}

#introducingMyself_photo{
    order: 2;
    height: 100%;
    align-items: flex-end;
}

#introducingMyself_photo img{
    width: 25rem;
    height: auto;
}

#myProjects h1{
    text-align: center;
}

#projects{
    width: 70%;
}


#aboutMe_subtitle{
    text-align: center;
}

#aboutMe_content{
    justify-content: center;
    flex-direction: row;
}

#introducingMyself_photo img{
    width: 21.4rem;
}

#aboutMe_content_photo img{
    width: 18rem;
}



#aboutMe_content_info{
    width: 45%;
    margin-left: 5rem;
}

#aboutMe_content_info h2{
    text-align: left;
}

#aboutMe_contactData{
    grid-template-columns: 55% 45%;
    grid-template-rows: repeat(2, auto);
}

#contact_form form{
    width: 80%;
    margin: 0 auto;
}

#contact_data{
    grid-template-columns: auto auto;
    grid-template-rows: repeat(2, auto);
    justify-content: space-around;
}

#services_content{
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3rem;
}

#services_products_section, #services_otherServices_section{
    width: 45%;
    background-color: var(--dark-blue);
}

#services_image img{
    width: 80%;
    box-shadow:white 1px 1px 5px;
}

#services_image{
    width: 80%;
    
}

#services_image figcaption{
    width: 80%;
    padding-left: 0;
}

#skills_container{
    padding-left: 10rem;
    padding-right: 10rem;
}

.skills_card{
    
    padding-left: 3rem;
    
}