:root{
    --light-blue: #23253a;
    --dark-blue: #1f2235; 
}

/*basic styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:  
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--dark-blue);
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 6rem;
    color: #ffffff;
    z-index: 10;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 5rem;
}

footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: var(--dark-blue);
    color: #ffffff;
    font-size: 1.2rem;
}

footer p{
    margin: 0.3rem 0;
}

/*Header styles*/
#header_myBriefcase{
    font-size: 1.8rem;
}

#horizontal_menu{
    display: none;
}

#menu_icon{
    width: 4.4rem;
}

#dropDown_menu{
    position: absolute;
    top: 45px;
    right: 0;
    display: none;
    width: 18rem;
    background-color: #ff0000;
}

#dropDown_menu a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid #fff;
}

#dropDown_menu a:last-child{
    border: 0;
}

#dropDown_menu a li{
    list-style: none;
    color: #ffffff;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
}

/*main start styles*/
#introducingMyself{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
    background-color: var(--light-blue);
}

#introducingMyself_info, #introducingMyself_photo{
    display: flex;
    /* width: 100%;
    height: auto; */
}

#introducingMyself_info{
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
}

#introducingMyself_photo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    /* background-color: yellow; */
    
}

#introducingMyself_photo a{
    color: #ffffff;
}

/* #introducingMyself_photo img{
    width: 80%;
} */

#introducingMyself_photo figcaption{
    margin-bottom: 3rem;
}

/* #aboutMe_content_photo img{
    width: 80%;
} */

#introducingMyself_info_socialMediaIcons{
    margin-bottom: 2rem;
}

#introducingMyself_info_socialMediaIcons img{
    width: 3rem;
    margin-right: 1rem;
}

#introducingMyself_info_name{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #ffffff;
}

.introducingMyself_info_text{
    font-size: 1.4rem;
    color: #ffffff;
    line-height: 2rem;
}

#briefcase_button{
    width: 10rem;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 2rem;
    background-color: var(--light-blue);
    border: 1px solid #FF6600;
    outline: #ffffff solid 1px;
    color: #ffffff;
}

#myProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-blue);
    width: 100%;
    height: auto;
    min-height: 10rem;
    padding: 0 1rem 5rem 1rem;
}


.briefcase_project h2{
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.6rem;
    color: #000000;
}
    
#myProjects h1{
    width: 100%;
    margin-bottom: 4rem;
    text-align: left;
    font-size: 2rem;
    line-height: 2.3rem;
    max-width: 40rem;
    background-color: var(--dark-blue);
    color: #ffffff;
}

.littleOrangeLine{
    width: 5rem;
    height: 1rem;
    background-color: #FF6600;
    margin-bottom: 3rem;
}

#projects{
    width: 100%;
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, auto);
    grid-gap: 2rem;
}

.project img{
    width: 3rem;
    margin-bottom: 1rem;
}

#projects > div{
    padding: 3rem 2rem;
    background-color: var(--light-blue);
}

#projects h3, #projects p{
    color: #ffffff;
}

.project h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.project p{
    font-size: 1.4rem;
    line-height: 1.8rem;
}

#aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-blue);
    width: 100%;
    height: auto;
    min-height: 10rem;
    padding: 5rem 1rem;
}

#myProjects_title, #aboutMe h2{
    color: #ffffff;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

#aboutMe_content{
    display: flex;
    flex-direction: column;
}

#aboutMe_text, #aboutMe_subtitle{
    display: inline-block;
    width: 100%;
    font-size: 1.4rem;
    color: #ffffff;
    margin-bottom: 2rem;
}

#aboutMe_subtitle{
    max-width: 40rem;
}

#aboutMe_content_photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#aboutMe_content_photo a{
    font-size: 0.8rem;
}

#aboutMe_content_info{
    padding-top: 3rem;
}

#aboutMe_contactData a{
    font-size: 1.4rem;
    color: #ffffff;
}

.contactData_blueLetter{
    color: var(--dark-blue);
    font-weight: bold;
}

.contactData_orangeLetter{
    color: #FF6600;
    font-weight: bold;
    font-size: 1.4rem;
}

.contactData_whiteLetter{
    color: #ffffff;
    font-size: 1.6rem;
}

.contactData_blackLetter{
    color: #000000;
    font-size: 1.6rem;
}

#aboutMe_contactData{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-gap: 2rem
}

#aboutMe figcaption a{
    font-size: 0.8rem;
    color: #ffffff;
}


/*Main contactame styles*/
h1{
    text-align: center;
    background-color: #ffffff;
    padding: 5rem 0 3rem 0;
    color: #000000;
} 

#contact_container{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

#contact_data{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-gap: 2rem;
    background-color: #ffffff;
    padding: 0 1rem;
}

#contact_data a{
    font-size: 1.4rem;
    color: #000000;
}

#contact_form{
    background-color: #ffffff;
    padding: 5rem 1rem;
}

#contact_form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    border-radius: 2rem;
    background-color: var(--dark-blue);
}

#contact_form h2{
    text-align: center;
    margin-bottom: 2rem;
}

.placeholder_red::placeholder{
    color: red;
}

label{
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
    color: #ffffff;
}

input[type="text"],
input[type="tel"],
input[type="email"]
{
    width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    font-size: 1.4rem;
    /* background-color: var(#ff0); */
    border-top: 0;
}

input[type="text"]:focus, 
input[type="email"]:focus,
input[type="tel"]:focus
{
    background-color: var(--dark-blue);
    color: #ffffff;
}

textarea{
    width: 100%;
    resize: none;
    font-size: 1.6rem;
    padding: 0.5rem;
}

#required_field{
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    color: #ffffff;
}

#contact_form input[type="submit"]{
    padding: 1rem 2rem;
    margin-top: 5rem;
    border-radius: 2rem;
    background-color: var(--light-blue);
    border: 1px solid #FF6600;
    outline: #ffffff solid 1px;
    color: #ffffff;
    font-size: 1.6rem;
}

#services_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

#memoryGame_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

/* #services_image img{
    width: 100%;
} */

#services_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

#services_image figcaption a{
    color: #000000;
    padding: 0.5rem 0 0 0.5rem;
    width: 100%;
}

#services_content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#services_content p{
    margin-bottom: 2rem;
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.4rem;
    color: #ffffff;
}

#services_content #products, #services_content #other_services{
    padding-left: 2rem;
}

#services_products_section, #services_otherServices_section{
    padding: 2rem 0;
}

#services_content h2{
    text-align: left;
    padding: 1rem;
}

#products li, #other_services li{
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #000000;
}

#skills_container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, auto);
    grid-gap: 3rem;
    width: 100%;
    height: auto;
    min-height: 20rem;
    padding: 1rem 1rem 6rem 1rem;
    background-color: #ffffff;
}

.skills_card{
    width: 100%;
    height: auto;
    min-height: 15rem;
    padding: 3rem 2rem;
    border-radius: 3rem;
    font-size: 1.4rem;
    color: #ffffff;
    background-color: var(--light-blue);
}

.skills_card h2{
    text-align: left;
    color: #FF6600;
    margin-bottom: 2rem;
}

#degrees_tittle::before {
    content:url('../assets//icons//school_white_24dp.svg'); 
    position: relative;  
    display: block;
    float: left;
    margin-right: 1rem;
}

#languages_tittle::before{
    content:url('../assets/icons/language_white_24dp.svg');
    position: relative;
    display: block;
    float: left;
    margin-right: 1rem;
    top: -3px;
}

#interests_tittle::before{
    content:url('../assets/icons/interests_white_24dp.svg');
    position: relative;
    display: block;
    float: left;
    margin-right: 1rem;
    top: -3px;
}

#programming_languages_tittle::before{
    content:url('../assets/icons/code_white_24dp.svg');
    position: relative;
    display: block;
    float: left;
    margin-right: 1rem;
    top: -3px;
}

#other_knowledges_tittle::before{
    content:url('../assets/icons/knowledge_white_24dp.svg');
    position: relative;
    display: block;
    float: left;
    margin-right: 1rem;
    top: -3px;
}

#skills_tittle::before{
    content:url('../assets/icons/skills_24dp.svg');
    position: relative;
    display: block;
    float: left;
    margin-right: 1rem;
    top: -3px;
}

#hobbies_tittle::before{
    content:url('../assets/icons/hobbies_white_24dp.svg');
    position: relative;
    display: block;
    float: left;
    margin-right: 1rem;
    top: -3px;
}

#programming_languages ul, #languages ul, #other_knowledges ul, #skills ul, #hobbies ul, #interests ul{
    margin-left: 1rem;
}

#skills_container li{
    line-height: 3rem;
}

#briefcase_container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-gap: 3rem;
    width: 100%;
    height: auto;
    min-height: 20rem;
    padding: 1rem;
    background-color: var(--light-blue);
}

.briefcase_project{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 5rem;
    padding: 2rem 0;
    background-color: #ffffff;
    border: 1px solid var(--light-blue);
}

#briefcase_container figure{
    
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   row-gap: 3rem;
   column-gap: 2rem;
   
}

/* .briefcase_project_images{
    display: flex;
    
} */

.briefcase_project h3, .briefcase_project p{
    color: #000000;
    padding-left: 1rem;
}

.briefcase_project p{
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
    padding-right: 1rem;
}

.briefcase_project h3{
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;
}

.briefcase_project a{
    font-size: 1.3rem;
    color: #000000;
    padding-left: 1rem;
}

.link_repo{
    display: inline-block;
    margin-bottom: 2rem;
}

.see_more{
    font-size: 1.3rem;
    color: #FF6600;
}

#grid_xamples{
    width: 100%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid_xample_1, #grid_xample_2{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;
    min-height: 10rem;
}

#dropDownMenu_xamples{
    padding-left: 1rem;
}

.dropDownMenu_xample_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mobile_separator{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border: 1px solid #ccc;
}

#grid_xamples h2{
    color: #000000;
}

#grid_xamples p{
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.select_buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    width: 100%;
    color: #ffffff;
}

.selection_columns{
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: crimson;
}

.selection_model{
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: crimson;
}

.active_button{
    background-color: green;
}

#boxes_container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 0.5rem;
    width: 100%;
    height: 37.1rem;
    background-color: #333;
    padding: 2rem;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#grid_a{
    display: grid;
    grid-template-columns: repeat(12, auto);
    gap: 0.5rem;
    width: 100%;
    height: 37.1rem;
    background-color: #333;
    padding: 2rem;
}

#grid_a div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_2{
    padding: 1rem;
    background-color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

#grid_b{
    display: none;
    grid-template-columns: repeat(12, auto);
    gap: 0.5rem;
    width: 100%;
    height: 37.1rem;
    background-color: #333;
    padding: 2rem;
}

#grid_b div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid_c{
    display: none;
    grid-template-columns: repeat(12, auto);
    gap: 0.5rem;
    width: 100%;
    height: 37.1rem;
    background-color: #333;
    padding: 2rem;
}

#grid_c div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_a{
    grid-area: 1/1/2/13;
    height: 8rem;
    background-color: #3bceac;
}

#nav_a{
    grid-area: 2/1/3/13;
    height: 3rem;
    background-color: #ee4266;
}

#aside_a{
    grid-area: 3/1/4/3;
    height: 15rem;
    background-color: #ffd23f;
}

#main_a{
    grid-area: 3/3/4/13;
    height: 15rem;
    background-color: #0466c8;
}

#footer_a{
    grid-area: 4/1/5/13;
    height: 5rem;
    background-color: #0ead69;
}

#header_b{
    grid-area: 1/1/2/13;
    height: 8rem;
    background-color: #3bceac;
}

#aside_b{
    grid-area: 2/1/3/3;
    height: 18.7rem;
    background-color: #ffd23f;
}

#main_b{
    grid-area: 2/3/3/13;
    height: 18.7rem;
    background-color: #0466c8;
}

#footer_b{
    grid-area: 4/1/5/13;
    height: 5rem;
    background-color: #0ead69;
}

#header_c{
    grid-area: 1/1/2/13;
    height: 8rem;
    background-color: #3bceac;
}

#nav_c{
    grid-area: 2/1/3/13;
    height: 3rem;
    background-color: #ee4266;
}

#main_c{
    grid-area: 3/1/4/13;
    height: 15rem;
    background-color: #0466c8;
}

#footer_c{
    height: 5rem;
    grid-area: 4/1/5/13;
    background-color: #0ead69;
}

#dropDownMenu_xamples{
    width: 100%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dropDownMenu_xamples p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    /* padding: 0 1rem; */
}

#dropDownMenu_xample_1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 37.1rem;
    border: 20px solid #333;
    padding: 4rem 1rem 2rem 1rem;
}


#dropDMX_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 2rem;
}

.expand_more{
    position: absolute;
    top: -6px;
    right: -2px;
}

.expand_more_hor{
    position: absolute;
    top: 6px;
    right: -4px;
    transform: rotate(270deg);
}

.menuItem{
    background-color: crimson;
    width: 8rem;
    list-style: none;
    padding: 1rem;
    position: relative;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

.subMenuItem{
    width: 12rem;
    list-style: none;
    padding: 1rem;
    background-color: #0466c8;
    border-bottom: 1px solid #ffffff;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

#dropDMX_submenu_item_1 li:last-child{
    border-bottom: none;
}

#dropDMX_submenu_item_1_3 > li{
    background-color: green;
    /* color: #333; */
}

#menuItem_1{
    position: relative;
}

#menuItem_1:hover #dropDMX_submenu_item_1{
    display: block;
}

#dropDMX_submenu_item_1{
    position: absolute;
    top: 37px;
    left: 0;
}

#submenu_item_1_3{
    position: relative
}

#submenu_item_1_3:hover #dropDMX_submenu_item_1_3{
    display: block;
}

.dropDMX_submenu{
    display: none;
}

#dropDMX_submenu_item_1_3{
    position: absolute;
    top: 0;
    right: -120px;
}

.subMenuItem{
    width: 12rem;
}

#dropDownMenu_xample_2{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    height: 37.1rem;
    border: 20px solid #333;
    padding: 1rem;
}

.question{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #039BE5;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.5rem;
}

#question_1 p, #question_2 p, #question_3 p{
    margin-bottom: 0;
}

.question img{
    margin-right: 1rem;
}

.question p{
    color: #ffffff;
    display: flex;
    align-items: center;
}

.answer{
    display: none;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    font-size: 1.4rem;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 0 0 1rem 1rem;
}

.answer p{
    color: #000000;
}

.answer p::before{
    content: "R/: ";
    font-weight: bold;
}

#main_start{
    margin-bottom: 0;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Estilos memory game*/
#box_memoryGame_container{
    width: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(6, auto);
    grid-gap: 0.5rem;
    padding: 2rem;
    background-color: tomato;
}

#box_memoryGame_container > div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5.7rem;
    height: 5.7rem;
    background-color: #ffffff;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0.5rem;
}

#help_container img{
    width: 80%;
    height: auto;
}

#memoryGame_container p{
    font-size:  1.6rem;
    color: #ffffff;
}

#box_memoryGame_container .front{
    display: none;
}


#box_memoryGame_container .back{
    background-color: #333;
}

#box_memoryGame_container img{
    width: 80%;
    height: auto;
}

#congratulations{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 2rem;
    border-radius: 3rem;
    background-color: #333;
    border: 2px solid #fff;
}

#instructions_memoryGame{
    width: 98%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: var(--light-blue) ;
    color: #fff;
}

#instructions_memoryGame h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#instructions_memoryGame ul li{
    font-size: 1.4rem;
    line-height: 2rem;
}

#congratulations p{
    font-size: 3rem;
}

#congratulations_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#newGame, #cancel_memoryGame{
    cursor: pointer;
    width: 15rem;
    height: 5rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    color: #ffffff;
}

#newGame{
    margin-bottom: 2rem;
    background-color: #008000;
}

#cancel_memoryGame{
    background-color: #ff0000;
}

#titleGame{
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    color: #000000;
}

#close_button{
    display: flex;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.2s; 
}

#close_button:hover{
    transform: scale(1.1);
}

#help_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    cursor: pointer;
}

#help_container p{
    color: #000000;
}

#help_icon{
    width: 3rem;
}

#data_game{
    background-color: #333;
    width: 38rem;
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

#data_game p, #chronos p{
    color: #ffffff;
}

#minutes, #seconds{
    width: 33%;
    text-align: right;
}

#chrono{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    background-color: #333;
}

#play_memoryGame{
    color: #FF6600;
    font-weight: bold;
    margin-top: 1rem;
}

/*Estilos del blog*/
#blog_container, #blogPost_container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem;
}

#blog_container p, #blogPost_container p, #blog_container li{
    font-size: 1.6rem;
    line-height: 1.8rem;
}

#blog_credits{
    margin-top: 3rem;
}

#blog_credits p{
    margin-bottom: 0.5rem;
}

#blog_container article li, #blogPost_container article li{
    margin-left: 2rem;
    font-weight: bold;
}

#blog_container article ul, #blogPost_container article ul{
    margin: 1rem 0 2rem 0;
}

#blogPost_container article ul{
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

#blog_container section, #blogPost_container section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#blog_container section article, #blogPost_container section article{
    padding: 1rem;
    border: 2px solid #ccc;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

#blog_container aside, #blogPost_container aside{
    width: 100%;
    padding: 1rem;
    border: 3px solid #ccc;
    border-radius: 1rem;
}

#blog_container h2, #blogPost_container h2{
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 2rem;
}

#blog_container h3, #blogPost_container h3{
    font-size: 1.4rem;
    margin-top: 2rem;
}

#blogPost_container a{
    color: #000000;
}

.blog_image_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    overflow: hidden;
    margin-right: 1rem;
    float: left;
    
}

/* .blog_image_container img{
    width: 100%;
} */

#aside_blog ul li{
    margin-bottom: 1rem;
    list-style: none;
}

#aside_blog a{
    display: inline-block;
    transition: all 0.3s;
    font-size: 1.4rem;
    color: #000000;
}

#aside_blog a:hover{
    transform: scale(1.04);
    
}

.image_credit{
    display: none;
}

#main_image_1_medium, #main_image_2_medium{
    display: none;
}

#main_image_1_small, #main_image_2_small{
    display: block;
}

#services_image_medium{
    display: none;
}

#services_image_small{
    display: block;
}

#online-store_small{
    display: block;
}

#online-store_medium{
    display: none;
}

.briefcase_image_medium{
    display: block;
}

.briefcase_image_small{
    display: none;
}