:root{
    --light-blue: #23253a;
    --medium-blue: #001523;
    --dark-blue: #1f2235; 

}

/*basic styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:  
    "header"
    "main"
    "footer";
}

header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--dark-blue);
    position: fixed;
    width: 100%;
    height: auto;
    min-height: 6rem;
    color: #ffffff;
}

main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6rem;
}


/*Header styles*/
#header_myBriefcase{
    font-size: 1.8rem;
}

#horizontal_menu{
    display: none;
}

#menu_icon{
    width: 4.4rem;
}

#dropDown_menu{
    position: absolute;
    top: 45px;
    right: 0;
    display: none;
    width: 18rem;
    background-color: #ff0000;
}

#dropDown_menu a{
    display: inline-block;
    text-decoration: none;
    width: 100%;
    border-bottom: 1px solid #fff;
}

#dropDown_menu a:last-child{
    border: 0;
}

#dropDown_menu a li{
    list-style: none;
    color: #ffffff;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
}

/*main start styles*/
#introducingMyself{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem 5rem 1rem;
    background-color: var(--light-blue);
}

#introducingMyself_info, #introducingMyself_photo{
    display: flex;
    width: 100%;
    height: auto;
}

#introducingMyself_info{
    flex-direction: column;
    justify-content: center;
}

#introducingMyself_photo{
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}

#introducingMyself_photo img{
    width: 40%;
}

#introducingMyself_info_socialMediaIcons{
    margin-bottom: 2rem;
}

#introducingMyself_info_socialMediaIcons img{
    width: 3rem;
    margin-right: 1rem;
}

#introducingMyself_info_name{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #ffffff;
}

.introducingMyself_info_text{
    font-size: 1.4rem;
    color: #ffffff;
    line-height: 2rem;
}

#briefcase_button{
    width: 10rem;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 2rem;
    background-color: var(--light-blue);
    border: 1px solid #ff0000;
    outline: #ffffff solid 1px;
    color: #ffffff;
}


